<p>reactive-form works!</p>
<form [formGroup]="myForm">
  <div>
    <label for="txtTitolo">Titolo</label>
    <input type="text" id="txtTitolo" formControlName="txtTitolo">
    <span [hidden]="myForm.controls.txtTitolo.valid || myForm.controls.txtTitolo.pristine">Il titolo è obbligatorio e non può superare i 3 caratteri!</span>
  </div>
  <div>
    <label for="txtAutore">Autore</label>
    <input type="text" id="txtAutore" formControlName="txtAutore">
  </div>
  <div>
    <label for="txtTesto">Testo</label>
    <textarea id="txtTesto" placeholder="testo articolo" formControlName="txtTesto"></textarea>
  </div>
  <button type="button" (click)="reactForm()">Invia</button>
</form>
{{myForm.valid}}
