<h2 style="text-align: center;">{{'articolo' | uppercase}}</h2>

<div>
  <p>Voti:{{art.numApprezzamenti}}</p>
  <button (click)="inc1($event)">Mi piace</button>
  <button (click)='art.numApprezzamenti = art.numApprezzamenti+1'>Mi piace no event</button>
  <p>{{art.titolo}}</p>
  <p>{{art.autore}}</p>
  <p>{{art.testo}}</p>
  <p>{{art.numApprezzamenti}}</p>
</div>

<!-- ref-numero oppure #numero (keyup)="0"-->

<div>
  <input type="number" [(ngModel)]="pippo" /> <!--forma compatta di-->
  <p>Il doppio di {{pippo}} sarebbe {{pippo*2}}</p>
</div>

<!-- <input type="number" (ngModel)="binding" (ngModelChange)="binding=$event" /> -->

<!-- <template [ngIf]="pippo">
  <div>
    <button>Save</button>
  </div>
</template> -->

<div *ngIf="pippo"><button>Save</button></div>

<div [ngSwitch]="pippo">
	<div *ngSwitchCase="1">
		<button>Gestione utenti</button>
		<button>Gestione documenti</button>
	</div>
	<div *ngSwitchCase="2">
		<button>Gestione documenti</button>
		<button>Visualizza pratiche</button>
	</div>
	<div *ngSwitchCase="3">
		<button>Visualizza pratiche</button>
	</div>
	<div *ngSwitchDefault>
		<button>Contatta l'assistenza</button>
	</div>
</div>

<div>
  <h2 style="text-align: center;">{{'Le pipe di anguar' | uppercase}}</h2>
  <p>{{"Le Pipe di Angular 2" | slice:3:3*2+1}}</p>
  <p>{{title | slice:3:title.length - 2}}</p>
  <p>{{"Le Pipe di Angular 2" | slice:3:7 | uppercase}}</p>
  <p>{{oggi | date:"short" }}</p>
  <p>{{ 123 | number:"1.2" }}</p>
  <p>{{ 123.456789 | number:".3-5" }}</p>
  <p>{{'gabrieleeeeeeeeeeeeeeeeeeeeeeeeeeeebbbbbbb'| truncate:20}}</p>
</div>

