<p>art works!</p>
<h3>{{art.titolo}}</h3>
<i>{{art.autore}}</i><br/>
<p>{{art.testo}}</p>
<p>Voti:{{art.numApprezzamenti}}
  <button (click)="inc1($event)">Mi piace</button>
  <button (click)='art.numApprezzamenti = art.numApprezzamenti+1'>Mi piace no event</button>
</p>

<input type="number" ref-numero (keyup)="0" />  <!-- ref-numero oppure #numero -->
<div>
  il doppio di {{numero.value}} sarebbe {{numero.value}}
</div>

<input type="number" [(ngModel)]="pippo" /> <!--forma compatta di-->
{{pippo}}
<!-- <input type="number" (ngModel)="binding" (ngModelChange)="binding=$event" /> -->

<p [ngClass]="{'font-size':'small'}">Questo è il mio paragrafo</p>
<a class="button" ngClass="active">aaaaa</a> <!--<a class="button" [ngClass]="{ active: datiModificati && !solaLettura,disabled: !datiModificati || solaLettura }">Salva</a>-->

<div *ngIf="pippo"><button>Save</button></div>

<!-- <template [ngIf]="pippo">
  <div>
    <button>Save</button>
  </div>
</template> -->

<div [ngSwitch]="pippo">
	<div *ngSwitchCase="1">
		<button>Gestione utenti</button>
		<button>Gestione documenti</button>
	</div>
	<div *ngSwitchCase="2">
		<button>Gestione documenti</button>
		<button>Visualizza pratiche</button>
	</div>
	<div *ngSwitchCase="3">
		<button>Visualizza pratiche</button>
	</div>
	<div *ngSwitchDefault>
		<button>Contatta l'assistenza</button>
	</div>
</div>

<ul>
  <li *ngFor="let art of listarticoli">
    <b>{{art}}</b>
  </li>
</ul>
